:root {
  --font-family: 'Playfair Display', serif;
  --black-900: #171615;

  --white-25: #b3b1afb3;
  --white-50: #b3b1af;
  --white-100: #e6e2df;
  --white-200: #e4e4e8;

  --grey-200: #9c9a9a;

  --input-border: #383138;
  --input-focus-h: 245;
  --input-focus-s: 100%;
  --input-focus-l: 42%;
}

html,
body {
  font-family: 'Playfair Display', serif;
  box-sizing: border-box;
  background-color: var(--black-900);
  color: var(--white-100);
}
* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--white-100);
}

img {
  width: 100%;
}

button {
  outline: none;
  padding: 0;
}

.header {
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  right: 0;
  height: 10vh;
  background: var(--black-900);
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr;
  padding: 1.5rem 1rem 0rem;
}

.header > span,
.header > div {
  align-self: center;
}
.header > span {
  text-align: right;
  color: #e8e7e7a6;
  font-size: 0.9rem;
}

.header > div {
  text-align: left;
}

.menu-btn-container {
  background-color: var(--black-900);
}

.menu-btn {
  background: transparent;
  border: none;
  color: var(--white-200);
  font-family: var(--font-family);
  font-size: 1rem;
}

.menu-btn:focus {
  border-bottom: 0.15rem solid var(--white-200);
}

.menu-title {
  font-size: 1.8rem;
}

.nav {
  padding: 2rem;
  background: var(--black-900);
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
  z-index: 2;
}

.nav.show {
  opacity: 1;
  visibility: visible;
}

.nav-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 6rem;
}

.nav-item {
  padding: 1rem;
  font-size: 1.1rem;
  position: relative;
}

.nav-item.active:before {
  position: absolute;
  content: '';
  height: 2px;
  width: 10px;
  top: 50%;
  left: -0.5rem;
  background: var(--white-100);
}

.nav-item.active > .link {
  color: var(--white-100);
}

.link:focus {
  color: var(--white-200);
  outline: none;
}
.link {
  color: var(--white-25);
}

main {
  padding: 15vh 1rem 4rem 1rem;
}

.about-header {
  margin-bottom: 2rem;
}
.about-header > h1 {
  padding-bottom: 1rem;
}
.about-content > p {
  font-size: 0.8rem;
  line-height: 1.2rem;
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
  color: var(--grey-200);
}

.container {
  padding-top: 2rem;
}

.content {
  padding-top: 1rem;
}

.content-block {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  width: 100%;
  margin-bottom: 2rem;
}

.year {
  margin-right: 1rem;
}

.place {
  font-size: 0.8rem;
  color: var(--white-50);
}

.place-name {
  font-size: 0.9rem;
  color: var(--white-50);
}
.description {
  font-size: 0.8rem;
  color: var(--white-25);
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

.form {
  padding: 1rem 0;
  max-width: 420px;
}

.form > div {
  margin-bottom: 1rem;
}

input {
  width: 100%;
}

.input {
  font-size: 16px;
  font-size: Max(16px, 1em);
  font-family: inherit;
  padding: 0.25em 0.5em;
  background-color: #fff;
  border: 2px solid var(--input-border);
  border-radius: 4px;
  transition: 180ms box-shadow ease-in-out;
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

.input:focus {
  border-color: #717679;
  box-shadow: 0 0 0px 3px hsl(245deg 30% 93% / 80%);
  outline: 3px solid transparent;
}

.input:not(textarea) {
  line-height: 1;
  height: 2.25rem;
  margin-top: 0.9rem;
  font-size: 0.8rem;
}
.input[disabled] {
  --input-border: #ccc;

  background-color: #eee;
  cursor: not-allowed;
}

textarea.input {
  resize: vertical;
  width: 100%;
  margin-top: 0.9rem;
  font-size: 0.8rem;
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

label {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1;
  display: flex;
  justify-content: space-between;
}

.required {
  color: red;
  font-size: 0.7rem;
}

.is-invalid {
  border-color: red;
}

.input + label {
  margin-top: 2rem;
}

input[type='submit'] {
  width: 100%;
  background-color: #4b714d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type='submit']:hover {
  background-color: #45a049;
}

.success-msg {
  background: #3e3e3e;
  padding: 2rem 1rem;
  position: absolute;
  top: 30%;
  height: 200px;
  display: flex;
  align-items: center;
  left: 0;
  flex-direction: column;
  display: none;
}

.success-msg > button {
  margin-left: auto;
  padding: 0.5rem 0.8rem;
  font-size: 1rem;
  font-family: var(--font-family);
}

.success-msg > p {
  margin-top: 1rem;
}
footer {
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 2px solid #9c9a9a82;
}

footer p {
  font-size: 0.8rem;
  line-height: 1rem;
  color: var(--white-50);
}

@media only screen and (min-width: 450px) {
  .main-home {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .main-home > section,
  .main-home > div {
    width: 45%;
  }

  .about-content {
    margin-left: 1rem;
  }

  .about-img {
    max-width: 30%;
  }
}

@media only screen and (min-width: 768px) {
  .nav {
    position: absolute;
    width: fit-content;
    height: fit-content;
    top: initial;
    left: calc(100vw / 2 - (572px / 2));
    opacity: 1;
    visibility: initial;
    z-index: 400;
    background: transparent;
  }

  .nav-list {
    flex-direction: row;
    margin-top: 0;
  }
}
